<%= render "shared/header" %>
<div class="px-10 max-w-[960px] mx-auto">
  <%# Project grid will be built in Epic 05 %>
  <div class="text-conjure-text-muted text-sm">Workshop content coming soon.</div>
</div>
